@using System.Web.Optimization

<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentCulture.Name" dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

    <!-- Stylesheets
    ============================================= -->

    <link rel="stylesheet" href="~/Content/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" />

    @if (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft == true)
    {
        @Styles.Render("~/Content/css/style" + (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "-rtl" : "") + ".css")
        @Styles.Render("~/Content/css/bootstrap" + (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "-rtl" : "") + ".css")
        @Styles.Render("~/Content/css" + (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "css/dark-rtl" : "dark") + ".css")
        @Styles.Render("~/Content/css" + (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "css/font-icons-rtl" : "font-icons") + ".css")
        @Styles.Render("~/Content/css" + (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "css/responsive-rtl" : "responsive") + ".css")
    }

    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title

    ============================================= -->

    <title>3HM Official Website</title>

</head>
<body class="stretched">

    @RenderBody()

</body>
</html>